.adw-tracker-popup {
    position: fixed;
    bottom: -16px;
    left: 10vw;
    width: calc(100% - 20vw);
    font-family: co-text,sans-serif;
    border-radius: 16px;
    display: none;
    background-color: #ffffff;
    text-align: center;
    padding: 0px 40px 10px 40px;
    border: 1px solid #ea0554;
    box-sizing: border-box;
}

.adw-additional-margin {
    margin-top: 35px;
}

.adw-tracker-title {
    font-weight: 400;
    font-size: 26px;
    color: #0040bf;
}

.adw-tracker-body {
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
}

.adw-button-link {
    margin-top: 10px;
    min-width: 150px;
    padding: 12px 40px;
    border-radius: 8px;
    color: white;
    background-color: #f20557;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.adw-link {
    margin-top: 10px;
    color: #0040bf;
    font-size: 12px;
    text-decoration: underline;
}

.adw-bar {
    max-height: 10px;
    text-align: right;
}

.adw-bar > button {
    height: 10px;
    background-color: none;
    border: none;
    padding: 0px;
}
